<!DOCTYPE html>
<html>


<% include partials/head.ejs %>


<body>
    <div class="ui container">
        <% include partials/header.ejs %>
        <div class="ui segment">

            <div id="dimmer" class="ui dimmer">
                <div class="ui indeterminate text loader" id="loadingText"><img src="/app2.gif" style="height: 400px;"></div>
            </div>

            <h1 class="ui" style="text-align: center"><img src="/payload2.png" style="width: 400px"></h1>
            <div class="ui form" id="form">
                        </div>
  <header class="content"><img src="/build.png" style="height: 350px;">
                        </div>

    </script>
    <% include partials/footer.ejs %>
</body>

</html>