<br>
<div class="ui inverted secondary menu">
    <a href="/" class="item">
        <i class="header item"></i>&nbsp;&nbsp; <img src="/logo1.png" style="width: 100px">
    </a>
    
    <a href="/builder" class="item">
    
    <i class="header item"></i>&nbsp;&nbsp; <img src="/logo2.png" style="width: 150px">

    
    </a>
   
   
<a href="/build" class="item">
   
      <i class="header item"></i>&nbsp;&nbsp; <img src="/logo3.png" style="width: 150px">
      
      
    </a>
    

    <a href="/logs" class="item">
        <i class="header item"></i>&nbsp;&nbsp; <img src="/logo4.png" style="width: 100px">
    </a>
    <div class="right menu">
        <a href="/logout" class="ui item">
            <i class="header item"></i>&nbsp;&nbsp; <img src="/logo5.png" style="width: 100px">
        </a>
    </div>
</div>
<div class="ui divider"></div>
<br>
